.sliderwrapper{
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
border-bottom-width: 6px;
width: 785px; /*width of featured content slider*/
height: 428px;
}

.sliderwrapper img{ height:428px;}



.sliderwrapper .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
padding: 0px;
background: white;
width: 390px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
height: 100%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.pagination{
width: 785px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
text-align: left;
padding:0;
margin-top:20px;
}

.pagination a{
padding: 0 5px;
text-decoration: none; 
color: #00007D;
background: white;
}



#paginate-slider1 .prev {font-size:0px; background-image:url(../images/small-arrow-left.png); background-repeat:no-repeat; width:10px; height:14px; display:inline-block; }

#paginate-slider1 .next {font-size:0px; background-image:url(../images/small-arrow-right.png); background-repeat:no-repeat; width:9px; height:14px; display:inline-block;}


.pagination a { font-size:0px; background-image:url(../images/dot-blank.png); background-repeat:no-repeat; width:10px; height:10px; display:inline-block; margin-bottom:-5px; }

.pagination a:hover, .pagination a.selected{font-size:0px; background-image:url(../images/dot-fill.png); background-repeat:no-repeat; width:10px; height:10px; display:inline-block; margin-bottom:-5px; }












