/*  980px  */
@media all and (max-width: 1279px) {

.grid-1200, .banner-caption span, .banner-caption, .nav_wrapper {   width: 96%;}

.slide {height:320px;}

.banner1, .banner2, .banner3,  .banner4 {    height: 320px; background-size:auto 100%;}

.banner-caption {padding-top:100px;}

#top-navigation {position:relative; height:45px; width:100% !important;}

.nav_wrapper {top:-1px; width:100%;}

.spinner-master {   margin: 8px;}

.spinner-master .spinner {    background-color: #fff;}

.menu, .menu > ul ul {top:0px; background:#be3333;  }

.menu {border-top:1px solid #dc5656;}

#menu ul li:nth-child(2) > .sub-menu, #menu ul li:nth-child(4) > .sub-menu, #menu ul li:nth-child(7) > .sub-menu {    min-width: 100% !important;    width: 100% !important;}

.menu ul ul { padding:0px !important;}

.menu ul li > a {      text-align: left;}

.menu ul li.hover > a {background: #a11a1a; color:#fff;}

.menu ul ul > li a {    background-color: #a11a1a;}

.sub-menu  {top:0px !important; position:relative !important; display:table;}

.has-submenu  {display:table; width:100%;}

.menu.active, .menu > ul ul.active { max-height:1000px; position: relative;}

.menu ul li {height:auto;}

.menu li li a {    font-size: 13px !important;}

.menu ul li a {   border-bottom: 1px solid #dc5656;}

.menu ul ul > li a {       padding: 6px 10px;}

.menu ul ul li a {    border-top: 0px solid #c22c2c;}

.news textarea {width:600px;}

.banner3 .banner-caption {padding-top:70px !important;}

.banner-caption {font-size:14px;}

.banner-caption span {font-size:40px;}

.news { background-position: -390px 0;}

.slider .slide_left, .slider .slide_right { top: 40%;}

#message-1 p, #message-2 p {    font-size: 16px !important;    font-weight: 300;    line-height: 26px !important;}

h2, h3 {  font-size: 20px;    font-weight: bold;}

#message-1 h2::after, #message-2 h2::after {margin: 15px 0 20px 160px;}

.half {    margin: 30px 0 30px 0;    width: 50%;}

.photo-box {line-height:18px;}

.twenty-five-percent {width: 23.5%;}

.twenty-five-percent img {width:100%;}

.photo-box {margin-bottom:130px;}

.sliderwrapper, .home-left-panel {    width: 100%; margin-bottom:0px;}

.home-right-panel {    float: none;    margin: 0;    width: 100%;     clear: both;}

#staff-box-1 { float:left; width: 48.5%; margin-bottom:30px;}

#staff-box-2 { float:right; width: 48.5%; margin-bottom:30px;}

.home-right-panel br {display:none;}

#p-select, #p-select2, .glidecontentwrapper, .glidecontent {width:100% !important;}

.glidecontenttoggler {background-repeat:no-repeat;}

.pagination {    width: 100%; text-align:center;}



}








/*  768px  */
@media all and (max-width: 979px) {

.news textarea {    width: 525px;}

.logo img {    margin: 10px 0;    width: 310px;}

.photo-box {   margin-bottom: 20px;    text-align: center;    width: 100%;}

.photo-box  br {display:none;}

.photo-box img {margin:0px auto 20px auto;}

#message-1 h2 , #message-2 h2 {text-align:center;}

#message-1 p, #message-2 p {text-align:center;}

#message-1 h2::after, #message-2 h2::after {margin: 20px auto;}

.twenty-five-percent {    width: 23.2%;}

h3 {    font-size: 16px;}

.cream-bg {    padding: 30px 0;}

.glidecontenttoggler {background-position:-50px;}

.glidecontent {font-size:15px;}

.glidecontent img {    width: 80px;}

.glidecontentwrapper {    height: 120px;}

.footer-column {    width: 33%; min-height: 400px;}

footer li {    font-size: 14px;    margin-bottom: 5px;    width: 90%;}


}










/*  640px  */
@media all and (max-width: 767px) {
	
	
.copyright-left, .designed {    display: block;    float: none;    text-align: center;    width: 100%;}

#staff-box-1 { float:none; width: 100%; margin-bottom:20px;}

#staff-box-2 { float:none; width: 100%; margin-bottom:20px;}

.twenty-five-percent {    width: 47%; margin-right:30px; margin-bottom:50px;}

.twenty-five-percent:nth-child(2), .twenty-five-percent:nth-child(4) {margin-right:0px; float:right;}

.sliderwrapper, .home-left-panel {    margin-top: 0;}

.news textarea {    width: 425px;}

.logo img {    width: 250px;}

.search, .social-media {margin-top:25px;}

.banner-caption span {    font-size: 30px; line-height:50px;}

.banner-caption  {letter-spacing:2px;}

.news textarea {margin-left:50px;}

.news {    background-position: -415px 0;}

.banner-caption {    padding-top: 120px;}


}









/*  480px  */
@media all and (max-width: 639px) {



}




/*  360px  */
@media all and (max-width: 479px) {
	


}




/*  320px  */
@media all and (max-width: 359px) {
	


	
}