


nav { width: 100%; }

.nav_wrapper {
  transition: top .5s ease-out;
  width:1200px;
  margin:auto;
}

.scroll { top: -90px; }

.no-scroll {
  top: 0;
  z-index: 9999;
}

.btn {
  padding: 10px 1%;
  margin: 5px;
  color: #666;
  text-decoration: none;
  font-family: sans-serif;
  transition: all 0.1s ease;
}

.btn:hover { transition: all 0.1s ease; }

main {
  max-width: 800px;
  margin: 0 auto;
}

main p {  1.2em;
}

#search {
  float: right;
  font-size: 30px;
  padding: 2px 15px;
  line-height: 40px;
  color: #fff;
  margin: 0;
  font-weight: 700;
  -webkit-transform: rotate(181deg);
  -moz-transform: rotate(181deg);
  -ms-transform: rotate(181deg);
  -o-transform: rotate(181deg);
  transform: rotate(181deg);
}

#search:hover { color: #efa666; }

.search_box {
  clear: both;
  width: 100%;
  background: #e8ebf0;
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.search_box.active {
  height: auto;
  padding: 15px 0;
}

.search_box input {
  width: 80%;
  font-size: 13px;
  margin: 0 0 0 15px;
  padding: 10px;
  border: none;
  background: #fff;
}

.search_box input:focus { outline: none; }

.search_box input.search_icon {
  clear: both;
  width: 10%;
  height: auto;
  padding: 10px;
  margin: 0;
  margin-left: -5px;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #8c949d;
  opacity: 1;
  transition: all 0.1s ease;
}

.search_box input.search_icon:hover { background: #efa666; }

.menu-link { display: none; }

.spinner-master input[type=checkbox] { display: none; }

.menu {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  display: inline-block;
}

.menu > li > ul.sub_menu {
  min-width: 10em;
  padding: 4px 0;
  background-color: #f4f4f4;
  border: 1px solid #fff;
}

.menu ul li { padding: 0px; float:left; margin:0px; }

.menu ul li li {  float:none; background:none;  border-top: 0px solid #d76565;}


.menu > ul > li { display: inline-block; width:118.8px; }


.menu ul li li:first-child a{ line-height:inherit;}

.menu ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  height:45px;
  box-sizing:border-box;
  font-weight:600;
  transition: all 0.0s ease;
  text-align:center;
  text-transform:uppercase;
  font-family:Montserrat, Arial, Helvetica, sans-serif;
}

.menu li li a {
	text-align:left;
	font-weight:300;
	font-size:12px !important;
}


.menu ul li a:hover {
  background: #a11a1a ;
  color: #fff;
  
}

.menu ul li.hover > a {
  background: #a11a1a ;
  color: #fff;
}

.menu ul {border-left:1px solid #d76565; border-right:1px solid #d76565; border-bottom:1px solid #d76565;}

.menu ul li  {border-right:1px solid #d76565;  height:45px;}

.menu ul li li  {border-right:0px solid #666;  height:inherit;}


.menu ul li > a {
    margin-right: 1px;
    padding: 10px 0;
}
.menu .home{  margin-right:1px;  }



.menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 258px;
  background: #a11a1a;
  z-index:100000;
  padding:5px 0px;
}

.menu ul li:hover > ul { display: block; }

.menu ul ul > li { position: relative; background-image:none !important; }

.menu ul ul > li a {
    background: #a11a1a none repeat scroll 0 0;
    font-size: 13px;
    height: auto;
    margin-right: 0;
    padding: 1px 15px;
    text-transform: capitalize;
}

.menu ul ul > li a:hover {
  background: #771313 ;
  color: #fff;
}

.menu ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

#hero {
  width: 100%;
  height: auto;
  background: #e8ebf0;
  margin: 70px 0 20px 0;
}

#hero img {
  width: 100%;
  height: auto;
}

.nav_wrapper {top:0px; position:relative !important;}


@media all and (max-width: 1279px) {

.nav_wrapper {top:37px; position:absolute !important;}



.menu ul li > a {
    margin-right: 0px;
    padding: 10px 10px 10px 10px;
}


.menu ul li a{border-bottom:1px solid #aaa;}

#top-navigation {
    width: 50px !important;
	margin-top:3px;
}	 

.example-header .container { width: 100%; }

#search { padding: 10px; }

.spinner-master * {
  transition: all 0.3s;
  box-sizing: border-box;
}

.spinner-master {
  position: relative;
  margin: 15px;
  height: 30px;
  width: 30px;
  float: left;
}

.spinner-master label {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 5px;
  left: 0;
}

.spinner-master .spinner {
  position: absolute;
  height: 4px;
  width: 100%;
  padding: 0;
  background-color: #333;
}

.spinner-master .diagonal.part-1 {
  position: relative;
  float: left;
}

.spinner-master .horizontal {
  position: relative;
  float: left;
  margin-top: 4px;
}

.spinner-master .diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: 4px;
}

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .horizontal { opacity: 0; }

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-1 {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 10px;
}

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-2 {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: -12px;
}

a.menu-link {
  display: block;
  color: #fff;
  float: left;
  text-decoration: none;
  padding: 10px 16px;
  font-size: 1.5em;
}

a.menu-link:hover { color: #efa666; }

a.menu-link:after {
  content: "\2630";
  font-weight: normal;
}

a.menu-link.active:after { content: "\2715"; }

.menu {
  clear: both;
  min-width: inherit;
  float: none;
}

.menu, .menu > ul ul {
    background-color: #ddd;
    left: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 99px;
    z-index: 1000000;
}

.menu > li > ul.sub-menu {
  padding: 0px;
  border: none;
}

.menu.active,
.menu > ul ul.active { max-height: 55em; }

.menu ul { display: inline; }

.menu li, .menu > ul > li {
    box-sizing: border-box;
    display: block;
    width: 100%;
}


.menu ul li > a {
	box-sizing:border-box;
	font-weight:900;
}

.menu ul li > ul li > a {
	box-sizing:border-box;
	font-weight:400;
}

.menu > ul > li:last-of-type a { border: none; }

.menu li a {
  color: #fff;
  display: block;
  padding: 0.8em;
  position: relative;
}

.menu li.has-submenu > a::after {
    content: "+";
    display: block;
    font-family: arial !important;
    font-size: 23px;
    font-weight: 900;
    padding: 0.4em 1.5em;
    position: absolute;
    right: 0;
    top: 0;
}


.menu li.has-submenu > a.active:after { content: "-"; }

.menu ul ul > li a {
  background-color: #39484d;
  padding: 10px 18px 10px 30px;
}


.menu ul ul > li a {
    background-color: #ccc;
    padding: 10px 10px 10px 10px;
}

.menu ul li.hover > a {
  background: #ccc;
  color: #000;
  font-weight:900;
}

.menu ul ul,
.menu ul ul ul {
  display: inherit;
  position: relative;
  left: auto;
  top: auto;
  border: none;
}

.search_box {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
}

.search_box input { width: 70%; }

.search_box input.search_icon { width: 17%; }

#hero { height: 200px; }


}